Repository ui-foundry/uikit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --cache --fix

docs: home screan updated
  .gitignore
  .vscode/settings.json
  docs/.vitepress/config.mts
  docs/.vitepress/configs/navbar.ts
  docs/.vitepress/configs/sidebar/guide.ts
  docs/.vitepress/configs/sidebar/index.ts
  docs/.vitepress/theme/HomeHeroInfoAfter.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/package.json
  docs/src/guide/angular.md
  docs/src/guide/architecture.md
  docs/src/guide/design.md
  docs/src/guide/index.md
  docs/src/guide/java-script.md
  docs/src/guide/react.md
  docs/src/guide/styling/colors.md
  docs/src/guide/styling/elevation.md
  docs/src/guide/styling/grid.md
  docs/src/guide/styling/misc.md
  docs/src/guide/styling/screens.md
  docs/src/guide/styling/spacing.md
  docs/src/guide/styling/typography.md
  docs/src/guide/vue.md
  docs/src/index.md
  docs/src/public/angular.svg
  docs/src/public/js.svg
  docs/src/public/react.svg
  docs/src/public/svelte.svg
  docs/src/public/vuejs.svg
  pnpm-lock.yaml
Due: prettier --write --cache, eslint --cache --fix

Updates
  404.html
  assets/app.Dl30RgEw.js
  assets/app.Q0dHmvxq.js
  assets/chunks/@localSearchIndexroot.D9e0CnSF.js
  assets/chunks/@localSearchIndexroot.DcxM2Iea.js
  assets/chunks/VPLocalSearchBox.CImu0vz7.js
  assets/chunks/theme.CW2qgyNl.js
  assets/chunks/theme.cLUC3dtQ.js
  guide/angular.html
  guide/architecture.html
  guide/design.html
  guide/index.html
  guide/java-script.html
  guide/react.html
  guide/styling/colors.html
  guide/styling/elevation.html
  guide/styling/grid.html
  guide/styling/misc.html
  guide/styling/screens.html
  guide/styling/spacing.html
  guide/styling/typography.html
  guide/vue.html
  index.html
Due: prettier --write --cache, eslint --cache --fix

docs: page load changes
  docs/_includes/base.njk
  docs/_includes/head.njk
  docs/_includes/logo.njk
  docs/_includes/sidebar.njk
  docs/assets/scripts/navigation.js
  docs/eleventy.config.js
  package.json
Due: prettier --write --cache, eslint --cache --fix

docs: deploy changes
  docs/package.json
Due: prettier --write --cache

Updates
  404.html
  404/index.html
  assets/images/logo.png
  assets/scripts/navigation.js
  assets/styles/base.css
  assets/styles/docs.css
  assets/styles/docs.scss
  assets/styles/index.css
  assets/styles/sidebar.css
  frameworks/angular/index.html
  frameworks/javascript/index.html
  frameworks/react/index.html
  frameworks/svelte/index.html
  frameworks/vue/index.html
  guide/architecture/index.html
  guide/design/index.html
  guide/index.html
  index.html
  tokens/colors/index.html
  tokens/elevation/index.html
  tokens/grid/index.html
  tokens/misc/index.html
  tokens/responsive-screens/index.html
  tokens/spacing/index.html
  tokens/typography/index.html
Due: prettier --write --cache, eslint --cache --fix

docs: design page updated
  .vscode/settings.json
  docs/_data/frameworks.json
  docs/_includes/base.njk
  docs/_includes/head.njk
  docs/_includes/logo.njk
  docs/_includes/sidebar.njk
  docs/_layouts/page-outline.njk
  docs/_layouts/page.njk
  docs/assets/images/angular.svg
  docs/assets/images/atomic_design.png
  docs/assets/images/js.svg
  docs/assets/images/react.svg
  docs/assets/images/svelte.svg
  docs/assets/images/vuejs.svg
  docs/assets/styles/docs.css
  docs/assets/styles/sidebar.css
  docs/eleventy.config.js
  docs/package.json
  docs/pages/components/avatar.md
  docs/pages/guide/design.md
  docs/pages/guide/index.md
  docs/pages/index.md
  docs/pages/index.njk
  pnpm-lock.yaml
Due: prettier --write --cache, eslint --cache --fix

docs: architecture page updated
  docs/pages/guide/architecture.md
Due: prettier --write --cache

Updates
  404/index.html
  assets/images/angular.svg
  assets/images/atomic_design.png
  assets/images/js.svg
  assets/images/react.svg
  assets/images/svelte.svg
  assets/images/vuejs.svg
  assets/styles/docs.css
  assets/styles/sidebar.css
  assets/uikit/core.css
  assets/uikit/index-D21SvVqK.js
  assets/uikit/index-D21SvVqK.js.map
  assets/uikit/index.js
  assets/uikit/index.js.map
  assets/uikit/loader.js
  assets/uikit/loader.js.map
  assets/uikit/uikit.js
  assets/uikit/uikit.js.map
  assets/uikit/uk-alert.entry.js
  assets/uikit/uk-alert.entry.js.map
  components/avatar/index.html
  frameworks/angular/index.html
  frameworks/javascript/index.html
  frameworks/react/index.html
  frameworks/svelte/index.html
  frameworks/vue/index.html
  guide/architecture/index.html
  guide/design/index.html
  guide/index.html
  index.html
  tokens/colors/index.html
  tokens/elevation/index.html
  tokens/grid/index.html
  tokens/responsive-screens/index.html
  tokens/spacing/index.html
  tokens/typography/index.html
Due: prettier --write --cache, eslint --cache --fix

docs: theme added
  docs/_includes/base.njk
  docs/_includes/head.njk
  docs/_includes/logo.njk
  docs/assets/scripts/navigation.js
  docs/assets/styles/base.css
  docs/assets/styles/docs.css
  docs/assets/styles/sidebar.css
Due: prettier --write --cache, eslint --cache --fix

docs: theme added
  docs/assets/scripts/toggle-theme.js
Due: prettier --write --cache, eslint --cache --fix

feat: avatar component added
  .vscode/settings.json
  docs/assets/styles/base.css
  docs/assets/styles/docs.css
  docs/pages/components/avatar.md
  packages/core/src/components.d.ts
  packages/core/src/components/avatar/avatar.scss
  packages/core/src/components/avatar/avatar.tsx
  packages/core/src/global/styles/_base.scss
  packages/core/src/global/styles/default.scss
  packages/core/src/global/styles/tokens/index.scss
Due: prettier --write --cache, eslint --cache --fix

Updates
  assets/styles/docs.css
  assets/uikit/core.css
  assets/uikit/index-gcGTeu1N.js
  assets/uikit/index-gcGTeu1N.js.map
  assets/uikit/index-uxGC1XbY.js
  assets/uikit/index-uxGC1XbY.js.map
  assets/uikit/loader.js
  assets/uikit/uikit.js
  assets/uikit/uk-alert.entry.js
  assets/uikit/uk-avatar.entry.js
  assets/uikit/uk-avatar.entry.js.map
  components/avatar/index.html
Due: prettier --write --cache, eslint --cache --fix

chore: base setup
  .browserslistrc
  .commitlintrc
  .husky/branch-name.sh
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  .prettierrc
  README.md
  package.json
  packages/.gitkeep
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --cache

docs: doc added
  docs/.gitignore
  docs/README.md
  docs/app/app.vue
  docs/nuxt.config.ts
  docs/package.json
  docs/public/favicon.ico
  docs/public/robots.txt
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache, eslint --cache --fix

docs: format added
  .gitignore
  .prettierignore
  docs/app/app.vue
  docs/package.json
  docs/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --cache

feat: core and react wrapper added
  .gitignore
  .prettierrc
  .vscode/settings.json
  package.json
  packages/core/.gitignore
  packages/core/docs/go-ui.d.ts
  packages/core/docs/go-ui.json
  packages/core/package.json
  packages/core/readme.md
  packages/core/src/components.d.ts
  packages/core/src/components/my-component/my-component.css
  packages/core/src/components/my-component/my-component.tsx
  packages/core/src/components/my-component/readme.md
  packages/core/src/index.html
  packages/core/src/index.ts
  packages/core/src/utils/utils.ts
  packages/core/stencil.config.ts
  packages/core/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --cache, eslint --cache --fix

feat: vue wrapper added
  packages/core/docs/go-ui.d.ts
  packages/core/docs/go-ui.json
  packages/core/stencil.config.ts
  packages/vue/package.json
  packages/vue/src/components.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
  packages/vue/tsconfig.json
Due: prettier --write --cache, eslint --cache --fix

refactor: main package moved as pear dept
  packages/react/package.json
Due: prettier --write --cache

docs: updated
  docs/app.vue
  docs/app/app.vue
  docs/nuxt.config.ts
  docs/package.json
  docs/pages/index.vue
  docs/plugins/uikit.client.ts
  pnpm-lock.yaml
Due: prettier --write --cache, eslint --cache --fix

docs: changes on layout
  .vscode/settings.json
  docs/assets/images/logo-o.png
  docs/assets/images/logo.png
  docs/assets/styles/app.css
  docs/components/AppHeader.vue
  docs/components/AppLogo.vue
  docs/components/AppMenus.vue
  docs/layouts/default.vue
  docs/nuxt.config.ts
  docs/package.json
  docs/pages/[...slug].vue
  docs/pages/index.vue
  docs/uno.config.ts
  docs/utils/index.ts
  docs/utils/menus.ts
  packages/core/src/components/my-component/readme.md
  pnpm-lock.yaml
Due: prettier --write --cache, eslint --cache --fix

revert: vitepress
  .gitignore
  docs/.gitignore
  docs/.vitepress/config.mts
  docs/.vitepress/theme/components/AppLayout.vue
  docs/.vitepress/theme/components/AppLogo.vue
  docs/.vitepress/theme/components/AppMenu.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/reset.css
  docs/.vitepress/theme/sidebar/framework-integrations.ts
  docs/.vitepress/theme/sidebar/get-started.ts
  docs/.vitepress/theme/sidebar/index.ts
  docs/.vitepress/theme/style.css
  docs/README.md
  docs/app.vue
  docs/components/AppHeader.vue
  docs/components/AppLogo.vue
  docs/components/AppMenus.vue
  docs/nuxt.config.ts
  docs/package.json
  docs/pages/[...slug].vue
  docs/pages/index.vue
  docs/plugins/uikit.client.ts
  docs/public/favicon.ico
  docs/public/robots.txt
  docs/src/guide/architecture.md
  docs/src/guide/design.md
  docs/src/index.md
  docs/src/public/.gitkeep
  docs/src/public/images/atomic_design.png
  docs/src/public/images/logo-o.png
  docs/src/public/images/logo.png
  docs/tsconfig.json
  docs/utils/index.ts
  docs/utils/menus.ts
  pnpm-lock.yaml
Due: prettier --write --cache, eslint --cache --fix

docs: react doc added
  docs/.vitepress/theme/components/AppLayout.vue
  docs/.vitepress/theme/components/AppMenu.vue
  docs/.vitepress/theme/sidebar/framework-integrations.ts
  docs/.vitepress/theme/style.css
  docs/package.json
  docs/src/frameworks/react.md
  docs/uno.config.ts
  pnpm-lock.yaml
Due: prettier --write --cache, eslint --cache --fix

docs: sample doc added
  docs/.vitepress/theme/sidebar/components.ts
  docs/.vitepress/theme/sidebar/index.ts
  docs/src/components/avatar.md
Due: prettier --write --cache, eslint --cache --fix

refactor: removed unwanted compo
  packages/core/src/components/my-component/my-component.css
  packages/core/src/components/my-component/my-component.tsx
  packages/core/src/components/my-component/readme.md
Due: prettier --write --cache, eslint --cache --fix

style: theme token setup
  packages/core/src/styles/_normalize.scss
  packages/core/src/styles/_tokens.scss
  packages/core/src/styles/_variables.scss
  packages/core/src/styles/base.scss
  packages/core/src/styles/index.scss
  packages/core/src/styles/mixins/index.scss
  packages/core/src/styles/theme/common.scss
  packages/core/src/styles/theme/dark.scss
  packages/core/src/styles/theme/light.scss
  packages/core/src/styles/utilities/_display.scss
  packages/core/src/styles/utilities/_flex.scss
  packages/core/src/styles/utilities/index.scss
Due: prettier --write --cache, eslint --cache --fix

feat: avatar component added
  packages/core/package.json
  packages/core/src/components.d.ts
  packages/core/src/components/avatar/avatar.scss
  packages/core/src/components/avatar/avatar.tsx
  packages/core/src/components/flex/flex.scss
  packages/core/src/components/flex/flex.tsx
  packages/core/src/index.html
  packages/core/stencil.config.ts
Due: prettier --write --cache, eslint --cache --fix

style: format changes
  packages/vue/src/components.ts
Due: prettier --write --cache, eslint --cache --fix

chore: gitignore updated
  .prettierignore
  .prettierrc
Due: none

chore: format changes
  .prettierrc
  docs/.vitepress/config.mts
  docs/.vitepress/theme/components/AppLayout.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/sidebar/components.ts
  docs/.vitepress/theme/sidebar/framework-integrations.ts
  docs/.vitepress/theme/sidebar/get-started.ts
  docs/.vitepress/theme/sidebar/index.ts
  docs/.vitepress/theme/style.css
  docs/src/guide/design.md
  docs/uno.config.ts
  packages/core/src/components.d.ts
  packages/core/src/components/avatar/avatar.tsx
  packages/core/src/components/flex/flex.tsx
  packages/core/src/index.ts
  packages/core/src/styles/_normalize.scss
  packages/core/src/styles/index.scss
  packages/core/src/styles/mixins/index.scss
  packages/core/src/styles/theme/dark.scss
  packages/core/src/styles/theme/light.scss
  packages/core/src/styles/utilities/_display.scss
  packages/core/src/styles/utilities/_flex.scss
  packages/core/src/styles/utilities/index.scss
  packages/core/src/utils/utils.ts
  packages/core/stencil.config.ts
  packages/react/src/index.ts
  packages/vue/src/components.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Due: prettier --write --cache, eslint --cache --fix

feat: avatar component adeed
  docs/.vitepress/config.mts
  docs/.vitepress/theme/components/AppLayout.vue
  docs/.vitepress/theme/components/AppMenu.vue
  docs/.vitepress/theme/reset.css
  docs/.vitepress/theme/style.css
  docs/src/components/avatar.md
  packages/core/src/components.d.ts
  packages/core/src/components/avatar/avatar.scss
  packages/core/src/components/avatar/avatar.tsx
  packages/core/src/index.html
  packages/core/src/styles/_normalize.scss
  packages/core/src/styles/base.scss
  packages/core/src/styles/index.scss
  packages/core/src/styles/theme/dark.scss
  packages/core/src/styles/theme/light.scss
  packages/core/stencil.config.ts
Due: prettier --write --cache, eslint --cache --fix

docs: image updated
  docs/.vitepress/theme/components/ToggleTheme.vue
  docs/src/public/images/avatar.png
Due: none

chore: bun replaced with node
  .gitignore
  .husky/branch-name.sh
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  .prettierrc
  biome.json
  bun.lock
  docs/.vitepress/theme/components/ToggleTheme.vue
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --cache

feat: flex component updated
  packages/core/src/components/flex/flex.tsx
Due: prettier --write --cache, eslint --cache --fix

feat: spinner component updated
  packages/core/src/components.d.ts
  packages/core/src/components/spinner/spinner.scss
  packages/core/src/components/spinner/spinner.tsx
  packages/core/src/index.html
Due: prettier --write --cache, eslint --cache --fix

feat: vue component updated
  packages/vue/src/components.ts
Due: prettier --write --cache, eslint --cache --fix

chore: tool changes
  .vscode/settings.json
  bun.lock
  docs/.vitepress/theme/sidebar/components.ts
  docs/src/components/avatar.md
  docs/src/components/spinner.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --cache, eslint --cache --fix

Path conditions:
  prettier --write --cache: (any of: **/*.{js,jsx,ts,tsx,html,scss}) or (any of: **/*.{md,json,yml,yaml})
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx,html,scss}
